body {
  position: relative;
  overflow: visible;
  overflow-x: hidden;
}

.section {
  padding: 8rem 0;
}
.divider {
  min-width: 3rem;
  max-width: 3.5rem;
  border: 2px solid $primary;
}
.random-cite {
  font-family: "Coming Soon", cursive;
  font-size: 1.2rem;
}
// .price {
//   background-color: #877575;
// }
