.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.gallery-item-caption {
  position: absolute;
  background: $bg-primary;
  transition: 0.5s all ease-in-out;
  width: 0;
  height: 100%;
  left: 100%;
  top: 0;
}

.gallery-item:hover .gallery-item-caption {
  width: 100%;
  left: 0;
}

.gallery-full-size {
  position: relative;
  display: none;
  z-index: 10000;
}
.gallery-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.9);
}
.img-full-size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  opacity: 0.75;
  transition: 0.5s opacity ease-in;
}
.close-icon {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 10001;
  cursor: pointer;
  opacity: 0.7;
}
.arrow-left {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0.7;
}
.arrow-right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0.7;
}
