.header {
  position: relative;
  min-height: 500px;
}
.bg-header {
  background: url("../assets/bg-masthead.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center 60%;
  background-size: cover;
}
.navbar {
  transition: 0.1s all linear;
}
.navbar-scrolled {
  background: #fff;
  color: #000;
}

.jumbotron-text {
  font-size: 1.15rem;
  font-weight: 400;

  @media all and (max-width: 768px) {
    font-size: 1rem;
  }
}
.jumbotron-heading {
  font-size: 3rem;

  @media all and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
